<div class="logo">
    <a href="/" class="d-inline-block"><span class="d-inline-block">Knight's Network</span></a>
</div>

<div id="nav_links" class=" d-flex flex-row justify-content-end align-items-center w-100">
    <ol class="m-0">
        <% for (let i in navLinks) { %>
        <li class="d-inline-block"><a href="<%= navLinks[i] %>"><%= i %></a></li>
        <% } %>
    </ol>
</div>