<section id="thankyou" class="d-flex w-100 align-items-center justify-content-center">
    <div id="upper" class="d-flex w-100 align-items-center justify-content-center">
        <h1>Thank you for <br>getting in touch!</h1>
    <span><i class="far fa-check-circle"></i></span>
    <span>Your request has been successfully submitted!</span>
        <span>Our experts will reach you out soon.</span>
    </div>
    <footer class="foot">
        <div class="foo1">
          <span><img src="/images/man.jpg" alt="Girl in a jacket" width="75" height="75" /></span>
          <p>
            <sp>Manav</sp><br>Deals in every area that you need here!!!!!.
          </p>
        </div>
        <div class="foo2">
            <span><img src="/images/aman.jpg" alt="Girl in a jacket" width="75" height="75" /></span>
          <p>
            <sp>Aman</sp><br>The Main area of dealing is Designing Part.
          </p>
        </div>
        <div class="foo3">
            <span><img src="/images/man.jpg" alt="Girl in a jacket" width="75" height="75" /></span>
          <p>
            <sp>Abhay</sp><br>This Main area dealing is Deployment Part.
          </p>
        </div>
      </footer>
</section>

<script>
  $(document).ready(function(){
    $(".navbar").css({
      "background-color":"rgb(55, 47, 47, 0.5)"
    })
  });
</script>