<section id="tools-bg">
        <div id="tools-fg" class="d-flex position-relative w-100">
            <section id="tool_uuper" class="d-flex position-relative w-100">
                <div class="upper_sec_tool d-flex w-100 justify-content-center align-items-center">
                    <div class="upper_content d-flex w-100 flex-direction-column">
                        <h1 class="d-flex w-100 justify-content-center align-items-center" style="font-size: 2.3rem; padding: 10px;">Code back time and increase producivity</h1>
                        <h6 class="d-flex w-100 justify-content-center align-items-center" style="font-size: 1.3rem; padding: 10px;">The easy to use tools that manage your unique workflow to get desired result</h6>
                        <span class="d-flex w-100 justify-content-center align-items-center" style="font-size: 3rem; padding: 10px;"><i class="fas fa-angle-double-down"></i></span>
                    </div>
                </div>
            </section>

            <section id="tool_down" class="d-flex position-relative w-100" >
                <div class="down_sec_tool d-flex flex-direction-row align-items-center">

                    <div class="card" style="text-align: center;">
                        <div class="arduino_image d-flex w-100">
                        </div>
                        <div class="container" id="tool">
                          <h4><b>Arduino</b></h4> 
                          <p>Architect & Engineer</p> 
                          <div class="d-flex w-100" style="padding: 10px 10px 10px 0;">
                            <a class="tool_btn_know" href="https://en.wikipedia.org/wiki/Relay" style="padding: 10px; margin: 10px;">More</a>
                            <a class="tool_btn_buy" href="https://nevonexpress.com/Buy-Relays-Online.php" style="padding: 10px; margin: 10px;">Buy One</a>
                        </div>
                        </div>
                      </div>

                      <div class="card" style="text-align: center;">
                        <div class="esp_image d-flex w-100">
                        </div>
                        <div class="container" id="tool">
                          <h4><b>esp32</b></h4> 
                          <p>Main Controller</p> 
                          <div class="d-flex w-100" style="padding: 10px 10px 10px 0;">
                            <a class="tool_btn_know" href="https://en.wikipedia.org/wiki/Relay" style="padding: 10px; margin: 10px;">More</a>
                            <a class="tool_btn_buy" href="https://nevonexpress.com/Buy-Relays-Online.php" style="padding: 10px; margin: 10px;">Buy One</a>
                        </div>
                        </div>
                      </div>

                      <div class="card" style="text-align: center;">
                        <div class="relay_image d-flex w-100">
                        </div>
                        <div class="container" id="tool">
                          <h4><b>Relay</b></h4> 
                          <p>Hardware Switch</p> 
                          <div class="d-flex w-100 " style="padding: 10px 10px 10px 0;">
                            <a class="tool_btn_know" href="https://en.wikipedia.org/wiki/Relay" style="padding: 10px; margin: 10px;">More</a>
                            <a class="tool_btn_buy" href="https://nevonexpress.com/Buy-Relays-Online.php" style="padding: 10px; margin: 10px;">Buy One</a>
                        </div>
                        </div>
                      </div>

                      <div class="card" style="text-align: center;">
                        <div class="node_image d-flex w-100">
                        </div>
                        <div class="container" id="tool">
                          <h4><b>Node.js</b></h4> 
                          <p>Software & Framework</p> 
                          <div class="d-flex w-100" style="padding: 10px 10px 10px 0;">
                            <a class="tool_btn_know" href="https://nodejs.org/en/about/" style="padding: 10px; margin: 10px;">Details</a>
                            <a class="tool_btn_buy" href="https://nodejs.org/en/download/" style="padding: 10px; margin: 10px;">Download</a>
                        </div>
                        </div>
                      </div>

                      <div class="card" style="text-align: center;">
                        <div class="mongoo_image d-flex w-100">
                        </div>
                        <div class="container" id="tool">
                          <h4><b>Mongoose</b></h4> 
                          <p>Backedend Manager</p> 
                          <div class="d-flex w-100" style="padding: 10px 10px 10px 0;">
                            <a class="tool_btn_know" href="https://en.wikipedia.org/wiki/Relay" style="padding: 10px; margin: 10px;">Details</a>
                            <a class="tool_btn_buy" href="https://nevonexpress.com/Buy-Relays-Online.php" style="padding: 10px; margin: 10px;">Download</a>
                        </div>
                        </div>
                      </div>
                    

                </div>
            </section>
        </div>
    
</section>
<script>
    $(document).ready(function(){
        $(".navbar").css({
        "background" : "transparent",
        "transition": "0.5s"
      })
    });
</script>
